<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
</head>
<style>
    #map-id {
        height: 100vh;
    }

    body {
        margin: 0;
    }
</style>
<body>
<div id="map-id"></div>
<script>
    var mymap = L.map('map-id').setView([51.505, -0.09], 3);

    L.tileLayer('/tiles?z={z}&x={x}&y={y}', {
        maxZoom: 18,
        tileSize: 256,
        zoom: 3,
    }).addTo(mymap);
</script>
</body>
</html>
